<div class="paymentContainer">
  <div class="heading">
    <div class="title">Create New Payment</div>
    <button routerLink="/" mat-button color="accent">Back</button>
  </div>

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Credit Card Number</label>
      <input
        type="text"
        formControlName="creditCardNumber"
        class="form-control"
      />
      <small
        class="text-danger"
        *ngIf="
          paymentForm.controls.creditCardNumber.touched &&
          paymentForm.controls.creditCardNumber.errors
        "
        >{{ paymentForm.controls.creditCardNumber.errors.required.message }}<br
      /></small>
    </div>
    <div class="form-group">
      <label>Card Holder</label>
      <input type="text" formControlName="cardHolder" class="form-control" />
      <small
        class="text-danger"
        *ngIf="
          paymentForm.controls.cardHolder.touched &&
          paymentForm.controls.cardHolder.errors
        "
        >{{ paymentForm.controls.cardHolder.errors.required.message }}<br
      /></small>
    </div>
    <div class="grid">
      <div class="form-group">
        <label>Expiration Date</label>
        <div class="form-control">
          <input
            [min]="minDate"
            placeholder="Choose a date"
            formControlName="expirationDate"
            [matDatepicker]="picker"
            (click)="openDatePicker(picker)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker startView="multi-year" #picker></mat-datepicker>
        </div>
        <small
          class="text-danger"
          *ngIf="
            paymentForm.controls.expirationDate.touched &&
            paymentForm.controls.expirationDate.errors &&
            paymentForm.controls.expirationDate.errors.required
          "
          >{{ paymentForm.controls.expirationDate.errors.required.message }}<br
        /></small>
        <small
          class="text-danger"
          *ngIf="
            paymentForm.controls.expirationDate.touched &&
            paymentForm.controls.expirationDate.errors &&
            paymentForm.controls.expirationDate.errors.minDate
          "
          >{{ paymentForm.controls.expirationDate.errors.minDate.message }}<br
        /></small>
      </div>
      <div class="form-group">
        <label>Security Code (CVV)</label>
        <input
          type="text"
          formControlName="securityCodeCVV"
          class="form-control"
        />
        <small
          class="text-danger"
          *ngIf="
            paymentForm.controls.securityCodeCVV.touched &&
            paymentForm.controls.securityCodeCVV.errors &&
            paymentForm.controls.securityCodeCVV.errors.minLength
          "
          >{{
            paymentForm.controls.securityCodeCVV.errors.minLength.message
          }}</small
        >
        <small
          class="text-danger"
          *ngIf="
            paymentForm.controls.securityCodeCVV.touched &&
            paymentForm.controls.securityCodeCVV.errors &&
            paymentForm.controls.securityCodeCVV.errors.maxLength
          "
          >{{
            paymentForm.controls.securityCodeCVV.errors.maxLength.message
          }}</small
        >
        <small
          class="text-danger"
          *ngIf="
            paymentForm.controls.securityCodeCVV.touched &&
            paymentForm.controls.securityCodeCVV.errors &&
            paymentForm.controls.securityCodeCVV.errors.digit
          "
          >{{
            paymentForm.controls.securityCodeCVV.errors.digit.message
          }}</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Amount</label>
      <input type="number" formControlName="amount" class="form-control" />
      <small
        class="text-danger"
        *ngIf="
          paymentForm.controls.amount.touched &&
          paymentForm.controls.amount.errors &&
          paymentForm.controls.amount.errors.required
        "
        >{{ paymentForm.controls.amount.errors.required.message }}<br
      /></small>
      <small
        class="text-danger"
        *ngIf="
          paymentForm.controls.amount.touched &&
          paymentForm.controls.amount.errors &&
          paymentForm.controls.amount.errors.minNumber
        "
        >{{ paymentForm.controls.amount.errors.minNumber.message }}<br
      /></small>
    </div>
    <button
      [disabled]="!paymentForm.valid || loading"
      type="submit"
      mat-raised-button
      color="primary"
      [class.spinner]="loading"
    >
      Submit
    </button>
  </form>
</div>
