<div>
  <div class="homeContent" *ngIf="router.url === '/'">
    <div class="heading">
      <div class="title">{{ title }}</div>
      <button routerLink="/make-payment" mat-raised-button color="accent">
        Make new payment
      </button>
    </div>
    <table [border]="0" cellspacing="0" cellpadding="0">
      <thead>
        <th>SN</th>
        <th>Credit Card Number</th>
        <th>Card Holder</th>
        <th>Expiration Date</th>
        <th>Security Code (CVV)</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ payment.creditCardNumber }}</td>
          <td>{{ payment.cardHolder }}</td>
          <td>{{ payment.expirationDate | date: "mediumDate" }}</td>
          <td>{{ payment.securityCodeCVV }}</td>
          <td>{{ payment.amount }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="noRecord"
      *ngIf="!(payments | async) || (payments | async)?.length < 1"
    >
      No Record found!
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
