/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.homeContent {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: rgb(36, 81, 204) !important;
}

.dropItem {
  padding: 10px 20px;
  color: rgb(0, 119, 255);

  &:last-child {
    color: rgb(240, 74, 74);
  }
}
